<div id="todos">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <li><button class="check">Complete All</button></li>
      <li><a href="/lists/<%= @id %>/edit" class="edit">Edit List</a></li>
    </ul>
  </header>

  <ul>
    <% @list[:todos].each_with_index do |todo, idx| %>
      <li class="<%= todo[1] %>">
        <form action="/lists/<%= @id %>/todos/<%= idx %>/toggle" method="post" class="check">
          <input type="hidden" name="completed" value="" />
          <button type="submit">Complete</button>
        </form>
        <h3><%= todo[0] %></h3>
        <form action="/lists/<%= @id %>/todos/<%= idx %>/delete" method="post" class="delete">
          <input type="submit" />
        </form>
      </li>
    <% end %>
  </ul>

  <form action="/lists/<%= @id %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo_item">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo_item" placeholder="Todo text" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
  </form>
</div>

<% content_for :header_links do %>
  <div class="actions"><a class="list" href="/lists">All Lists</a></div>
<% end %>